---
interface Props {
  title: string;
  description?: string;
}

const { title, description = "Ten blog z pewnością cię nie śledzi i nie używa ciasteczek. To dobry, grzeczny blog." } = Astro.props;
const siteTitle = "jasisz blog";
const pageTitle = title === siteTitle ? title : `${title} | ${siteTitle}`;
---

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{pageTitle}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={Astro.url} />
    <link rel="alternate" type="application/rss+xml" title={siteTitle} href="/rss.xml" />
  </head>
  <body>
    <header class="site-header">
      <div class="wrapper">
        <a class="site-title" href="/">{siteTitle}</a>
      </div>
    </header>

    <div class="page-content">
      <div class="wrapper">
        <slot />
      </div>
    </div>

    <footer class="site-footer">
      <div class="wrapper">
        <h2 class="footer-heading">{siteTitle}</h2>
        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <ul class="contact-list">
              <li>{siteTitle}</li>
              <li><a href="mailto:jasisz@gmail.com">jasisz@gmail.com</a></li>
            </ul>
          </div>
          <div class="footer-col footer-col-2">
            <ul class="social-media-list">
              <li>
                <a href="https://github.com/jasisz">
                  <svg class="icon" viewBox="0 0 16 16">
                    <path fill="#828282" d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"/>
                  </svg>
                  <span class="username">jasisz</span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/jasisz1">
                  <svg class="icon" viewBox="0 0 16 16">
                    <path fill="#828282" d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27 c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767 c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206 C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271 c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469 c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"/>
                  </svg>
                  <span class="username">jasisz1</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="footer-col footer-col-3">
            <p>Ten blog z pewnością cię nie śledzi i nie używa ciasteczek.<br/>To dobry, grzeczny blog.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

<style is:global>
  /* Reset */
  body, h1, h2, h3, h4, h5, h6,
  p, blockquote, pre, hr,
  dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
  }

  /* Variables */
  :root {
    --base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --base-font-size: 16px;
    --base-font-weight: 400;
    --small-font-size: 14px;
    --base-line-height: 1.5;
    --spacing-unit: 30px;
    --text-color: #111;
    --background-color: #fdfdfd;
    --brand-color: #2a7ae2;
    --grey-color: #828282;
    --grey-color-light: #e8e8e8;
    --grey-color-dark: #424242;
    --content-width: 800px;
  }

  /* Basic styling */
  body {
    font: var(--base-font-weight) var(--base-font-size)/var(--base-line-height) var(--base-font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    -webkit-text-size-adjust: 100%;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
  }

  /* Vertical rhythm */
  h1, h2, h3, h4, h5, h6,
  p, blockquote, pre,
  ul, ol, dl, figure {
    margin-bottom: calc(var(--spacing-unit) / 2);
  }

  /* Images */
  img {
    max-width: 100%;
    vertical-align: middle;
  }

  /* Lists */
  ul, ol {
    margin-left: var(--spacing-unit);
  }

  li > ul,
  li > ol {
    margin-bottom: 0;
  }

  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    font-weight: var(--base-font-weight);
  }

  /* Links */
  a {
    color: var(--brand-color);
    text-decoration: none;
  }

  a:visited {
    color: #1756a9;
  }

  a:hover {
    color: var(--text-color);
    text-decoration: underline;
  }

  /* Blockquotes */
  blockquote {
    color: var(--grey-color);
    border-left: 4px solid var(--grey-color-light);
    padding-left: calc(var(--spacing-unit) / 2);
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
  }

  blockquote > :last-child {
    margin-bottom: 0;
  }

  /* Code */
  pre, code {
    font-size: 15px;
    border: 1px solid var(--grey-color-light);
    border-radius: 3px;
    background-color: #eef;
  }

  code {
    padding: 1px 5px;
  }

  pre {
    padding: 8px 12px;
    overflow-x: auto;
  }

  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }

  /* Wrapper */
  .wrapper {
    max-width: calc(var(--content-width) - (var(--spacing-unit) * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--spacing-unit);
    padding-left: var(--spacing-unit);
  }

  .wrapper::after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: calc(var(--content-width) - var(--spacing-unit));
      padding-right: calc(var(--spacing-unit) / 2);
      padding-left: calc(var(--spacing-unit) / 2);
    }
  }

  /* Icons */
  svg.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }

  /* Site header */
  .site-header {
    border-top: 5px solid var(--grey-color-dark);
    border-bottom: 1px solid var(--grey-color-light);
    min-height: 56px;
    position: relative;
  }

  .site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
  }

  .site-title,
  .site-title:visited {
    color: var(--grey-color-dark);
  }

  /* Site footer */
  .site-footer {
    border-top: 1px solid var(--grey-color-light);
    padding: var(--spacing-unit) 0;
  }

  .footer-heading {
    font-size: 18px;
    margin-bottom: calc(var(--spacing-unit) / 2);
  }

  .contact-list,
  .social-media-list {
    list-style: none;
    margin-left: 0;
  }

  .footer-col-wrapper {
    font-size: 15px;
    color: var(--grey-color);
    margin-left: calc(var(--spacing-unit) / -2);
  }

  .footer-col-wrapper::after {
    content: "";
    display: table;
    clear: both;
  }

  .footer-col {
    float: left;
    margin-bottom: calc(var(--spacing-unit) / 2);
    padding-left: calc(var(--spacing-unit) / 2);
  }

  .footer-col-1 {
    width: calc(35% - (var(--spacing-unit) / 2));
  }

  .footer-col-2 {
    width: calc(20% - (var(--spacing-unit) / 2));
  }

  .footer-col-3 {
    width: calc(45% - (var(--spacing-unit) / 2));
  }

  @media screen and (max-width: 800px) {
    .footer-col-1,
    .footer-col-2 {
      width: calc(50% - (var(--spacing-unit) / 2));
    }

    .footer-col-3 {
      width: calc(100% - (var(--spacing-unit) / 2));
    }
  }

  @media screen and (max-width: 600px) {
    .footer-col {
      float: none;
      width: calc(100% - (var(--spacing-unit) / 2));
    }
  }

  /* Page content */
  .page-content {
    padding: var(--spacing-unit) 0;
  }

  .page-heading {
    font-size: 20px;
  }

  .post-list {
    margin-left: 0;
    list-style: none;
  }

  .post-list > li {
    margin-bottom: var(--spacing-unit);
  }

  .post-meta {
    font-size: var(--small-font-size);
    color: var(--grey-color);
  }

  .post-link {
    display: block;
    font-size: 24px;
  }

  /* Posts */
  .post-header {
    margin-bottom: var(--spacing-unit);
  }

  .post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
  }

  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px;
    }
  }

  .post-content {
    margin-bottom: var(--spacing-unit);
  }

  .post-content h2 {
    font-size: 32px;
  }

  @media screen and (max-width: 800px) {
    .post-content h2 {
      font-size: 28px;
    }
  }

  .post-content h3 {
    font-size: 26px;
  }

  @media screen and (max-width: 800px) {
    .post-content h3 {
      font-size: 22px;
    }
  }

  .post-content h4 {
    font-size: 20px;
  }

  @media screen and (max-width: 800px) {
    .post-content h4 {
      font-size: 18px;
    }
  }

  /* Syntax highlighting */
  .astro-code {
    background: #eef !important;
    border: 1px solid var(--grey-color-light);
    border-radius: 3px;
    padding: 8px 12px;
    overflow-x: auto;
  }
</style>
